.App {
  padding-top: 20px;
  text-align: center;
}
#submit {
  background-color: green;
  color: white;
  width: 75px;
  height: 30px;
  border-radius: 5px;
}
#submit:hover {
  background-color: purple;
}
.text-danger{
  color: red;
}